

<mat-toolbar color="primary">
  <button mat-icon-button class="btn-sidenav" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions" id="btnMenu">

  <mat-icon>menu</mat-icon>

</button>
  <div
    class="d-flex justify-content-center align-items-center"
    style="height: 100%"
  >
    <a
      class="nav-link mx-2 pt-0"
      routerLink="/main/courses"
      id="logoDashboard"
    >
      <img
        src="../../../../assets/img/logo.png"
        height="45"
        width="100"
        alt=""
      />
    </a>
  </div>
  <div></div>
  <div class="container">
    <form [class.d-none.d-sm-block]="hideForm">
      <div class="row">
        <div class="col">
          <input
            class="form-control me-2 rounded-pill"
            type="text"
            placeholder="Search"
            aria-label="Search"
          />
        </div>
      </div>
    </form>
  </div>
  <span class="spacer"></span>
  <div class="d-flex mr-0 mt-2">
    <app-shopping-cart></app-shopping-cart>
    <app-notification></app-notification>
  </div>

  <div class="dropdown" *ngIf="person">
    <a
      class="nav-link align-middle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      matRipple
      [matRippleCentered]="true"
      [matRippleUnbounded]="true"
      [matRippleRadius]="30"
      aria-expanded="false"
    >
      <img
        [src]="person.IMAGEN"
        height="50"
        width="50"
        class="rounded-circle mr-2 mx-1"
      />
    </a>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item">
          <img
            [src]="person.IMAGEN"
            alt=""
            height="55"
            width="55"
            class="rounded-circle mr-2 mx-1"
          />
          <div class="d-flex">
            <div class="d-flex flex-column">
              <strong style="font-size: 20px"
                ><b></b></strong
              >
              <strong></strong>
            </div>
          </div>
        </a>
      </li>
      <mat-divider></mat-divider>
      <li>
        <a class="dropdown-item"
          ><mat-icon>shopping_history</mat-icon><b>Shopping history</b></a
        >
      </li>
      <li>
        <a class="dropdown-item"
          ><mat-icon>shopping_cart</mat-icon><b>Shopping cart</b></a
        >
      </li>
      <mat-divider></mat-divider>
      <li>
        <a class="dropdown-item"
          ><mat-icon>settings</mat-icon><b>Settings</b></a
        >
      </li>
      <li>
        <a class="dropdown-item" (click)="onLogout()"
          ><mat-icon>logout</mat-icon><b> Logout</b></a
        >
      </li>
    </ul>
  </div>

</mat-toolbar>
