/* .spacer {
  flex-grow: 20;
} */

/* .center-image, a {
  flex-grow: 20;
  display: flex;
  justify-content: center;
  align-items: center;
} */

mat-toolbar {
  height: 70px;
}

body{
  background-color: #0b1727;
}
