* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  width: 100%;
  position: absolute;
  background-color: #3f51b5;
}

hr {
  background: black;
  height: 3px;
  width: 100%;
  opacity: 1;
  margin-top: 0%;
    margin-bottom: 0%;
}
