<div class="row flex-center min-vh-100 py-6">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
    <a class="d-flex flex-center mb-4"
      ><img
        class="me-2"
        src="../../../../assets/img/logo.png"
        alt=""
        width="250px"
      /></a
    >
    <div class="card">
      <div class="card-body p-4 p-sm-5">
        <div class="row flex-between-center mb-2">
          <div class="col-auto">
            <h5>Log in Student</h5>
          </div>
          <div class="col-auto fs--1 text-600">
            <span class="mb-0 undefined">or </span>
            <span
              ><a routerLink="/auth/register"
                >Create an account</a
              ></span
            >
          </div>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="loginStudent()" autocomplete="off">
          <div class="mb-3">
            <mat-form-field class="custom-form-field">
              <mat-label>Enter your email</mat-label>
              <input formControlName="email" matInput placeholder="pat@example.com" required>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="custom-form-field">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              </mat-form-field>
          </div>
            <div class="mb-3">
              <button
              class="btn btn-primary d-block w-100 mt-3"
              type="submit"
              name="submit"
              [disabled]="myForm.invalid"
              >
              Log in
            </button>
            <div class="row flex-between-center mb-2">
              <div class="col-auto">
                <a class="fs--1" href="../../../pages/authentication/simple/forgot-password.html">Forgot Password?</a>
              </div>
              <div class="col-auto fs--1 text-600">
                <span class="mb-0 undefined">or </span>
                <span><a routerLink="/auth/login-pyme">Log in with PYME</a></span>
              </div>
            </div>
          </div>
          <div class="text-center">
            <span><a routerLink="/auth/login-admin">Log in with Administrator</a></span>
          </div>
        </form>
        <!-- <div class="position-relative mt-4">
          <hr />
          <div class="divider-content-center">or log in with</div>
        </div>
        <div class="row g-2 mt-2">
          <div class="col-sm-6">
            <a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"
              ><span
                class="fab fa-google-plus-g me-2"
                data-fa-transform="grow-8"
              ></span>
              google</a
            >
          </div>
          <div class="col-sm-6">
            <a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"
              ><span
                class="fab fa-facebook-square me-2"
                data-fa-transform="grow-8"
              ></span>
              facebook</a
            >
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
