.spacer {
  flex-grow: 1;
}

.center-image {
  flex-grow: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #mat-toolbar {
  background: rgba(44, 92, 154, 0.96);
} */

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* span, button {
  color: white;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
} */
