.spacer {
  flex-grow: 20;
}

.center-image, a {
  flex-grow: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #mat-toolbar {
  background: rgba(44, 92, 154, 0.96);
} */

/* span, button {
  color: white;
}*/

.example-container {
  width: 100%;
  height: 100%;
}


