<!-- Modal -->
<div class="modal fade" id="ModalPYME" tabindex="-1"
  aria-labelledby="exampleModalLabel2" data-bs-keyboard="false" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel2">PYME Student</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="myForm" (ngSubmit)="postStudentPYME()" autocomplete="off">
          <div class="mb-3">
            <mat-form-field class="custom-form-field">
              <mat-label>Enter your email</mat-label>
              <input matInput formControlName="email" placeholder="pat@example.com" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Confirm Password</mat-label>
              <input matInput formControlName="confirm_password" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" placeholder="CompanyExample" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name" placeholder="Company Example" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Telephone</mat-label>
              <input matInput formControlName="phone_number" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Company Name</mat-label>
              <input matInput formControlName="company_name" placeholder="Company Example" autocomplete="off" required>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Company Size</mat-label>
              <mat-select formControlName="company_size" required>
                <div class="cdk-overlay-container"></div>
                <ng-container *ngFor="let companysize of listcompanySize">
                  <mat-option [value]="companysize.ID_TAMANO_EMPRESA">
                    {{companysize.TAMANO_EMPRESA}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="custom-form-field">
              <mat-label>Location</mat-label>
              <mat-select formControlName="location" required>
                <div class="cdk-overlay-container"></div>
                <ng-container *ngFor="let locations of listlocation">
                  <mat-option [value]="locations.ID_UBICACION">
                    {{locations.NOMBRE_CORTO}}
                  </mat-option>
                </ng-container>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
              (click)="cerrarModal()">Cancel</button>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid"
              data-bs-dismiss="modal">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
