.spacer {
  flex-grow: 20;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}




.offcanvas{

   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   padding: 10px 14px;
   width: 18rem;
   background: #3f51b5;
   min-height: 100vh;
   transition: all 0.5s ease;

}

.header{

    position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   padding: 10px 14px;
   width: 18rem;
   background: #2b2b2b;
   transition: all 0.5s ease;

}

.offcanvas .text{

   font-size: 16px;
   font-weight: 500;
   color: #ffffff;
   transition: all 0.4s ease;
   white-space: nowrap;
   opacity: 1;

}

.offcanvas.close .text{

   opacity: 0;

}

.offcanvas .image{

   min-width: 60px;
   display: flex;
   align-items: center;
   justify-content: center;

}

.offcanvas ul{

   padding-left: 0%;

}

.offcanvas li{

   height: 50px;
   margin-top: 10px;
   list-style: none;
   display: flex;
   align-items: center;

}

.offcanvas li .icon{

   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 60px;
   font-size: 20px;

}

.slidebar li .icon,
.slidebar li .text{

   color: #ffffff!important;

}

.offcanvas header{

   position: relative;

}

.offcanvas .image-text img{

   width: 40px;
   border-radius: 6px;

}

.offcanvas .header .image-text{

   display: flex;
   align-items: center;
}

.header .image-text .header-text{

   display: flex;
   flex-direction: column;
}

.header-text .name{

   font-weight: 600;

}

/* .center-image, a {
  flex-grow: 20;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 4rem);
  background-color: #576ad6;

  cursor: pointer;
} */

  /* .sidenav-nav-item{
    width: 230px;
    margin-bottom: 0.625rem;
    height: inherit !important;
    height: 50px !important;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.4s ease;
    color: #ffffff !important;
  } */

    /* .sidenav-nav-link{
      display: flex;
      align-items: center;
      height: 3rem;
      width: 14rem;
      color: #ffffff;
      border-radius: 0.625rem;
      border-color:black;
      text-decoration: none;
      transition: all .3s ease;
      height: inherit !important;
    height: 50px !important;
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.4s ease;
    color: #ffffff !important;
    } */

      /* .material-icons-outlined {
        font-size: 22px;
        width: 3rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        margin: 3px 0 3px 1.5rem  !important;
        text-align: start;
      } */

      /* .sidenav-link-text{
        margin-left: 0;
        margin: 0 0.5rem !important;
      } */

    /* .sidenav-nav-link:hover {
      background-color: #39489d;
      color: #fff;

    }

    .menu-collapse-icon {
      color: #fff;
    } */

    .offcanvas mat-nav-list a{

      height: inherit !important;
      height: 50px !important;
      width: 100%;
      display: flex !important;
      flex-direction: row;
      align-items: center;
      text-decoration: none;
      border-radius: 6px;
      transition: all 0.4s ease;
      color: #ffffff !important;

  }

  .offcanvas mat-nav-list a:hover{

    background: #d12609 !important;

}

.offcanvas .mat-list-item:focus{

    background-color: #d12609 !important;

}

.offcanvas mat-nav-list a:hover .icon,
.offcanvas mat-nav-list a:hover .text{

    color: #ffffff;
    transition: all 0.2s ease;

}

.offcanvas .menu-bar{

    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#item{

    margin: 3px 0 3px 1.5rem  !important;
    color: #ffffff !important;

}

#icon{

    margin: 0 0.5rem !important;

}

.icon{

    margin-right: 1rem !important;

}



.active {
  background-color: #39489d;

}

/* .sidenav-link-text   .menu-collapse-icon .sidenav-link-icon {
  color: #fff;
} */
/* .menu-collapse-icon{
  font-size: 25px;
  width: 0;
  min-width: 0;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: #f3f3f3;
} */

.sublevel-nav {
  list-style: none;
  margin-left: 10px;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #ffffff;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all .3s ease;

      .material-icons-outlined {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sublevel-link-text {
        margin-left: 0.8rem;
      }
    }
    .sublevel-nav-link:hover {
      background-color: #39489d;
      color: #fff;
    }
  }
}

