<!-- Modal -->
<form>
  <div class="modal fade" id="ModalStudent" tabindex="-1" aria-labelledby="exampleModalLabel" data-bs-keyboard="false" aria-hidden="true" data-base-backdrop="false">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Normal Student</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm" (ngSubmit)="postStudentNormal()" autocomplete="off">
            <div class="mb-3">
              <mat-form-field class="custom-form-field">
                <mat-label>Enter your email</mat-label>
                <input matInput formControlName="email" placeholder="pat@example.com" required>
              </mat-form-field>
              <mat-form-field class="custom-form-field">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" required>
              </mat-form-field>
              <mat-form-field class="custom-form-field">
                <mat-label>Confirm Password</mat-label>
                <input matInput formControlName="confirm_password" required>
              </mat-form-field>
              <mat-form-field class="custom-form-field">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="KarlaSmith" required>
              </mat-form-field>
              <mat-form-field class="custom-form-field">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="first_name" placeholder="Karla Maritza" required>
              </mat-form-field>
              <mat-form-field class="custom-form-field">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" placeholder="Smith Brown" required>
              </mat-form-field>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                Cancel
              </button>
              <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</form>
