<!-- <div class="mt-2">
  <form>
    <div class="mb-3">
      <input class="form-control" type="text" autocomplete="on" placeholder="Name" />
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" autocomplete="on" placeholder="Username" />
    </div>
    <div class="mb-3">
      <input class="form-control" type="email" autocomplete="on" placeholder="Email address" />
    </div>
    <div class="row gx-2">
      <div class="mb-3 col-sm-6">
        <input class="form-control" type="password" autocomplete="on" placeholder="Password" />
      </div>
      <div class="mb-3 col-sm-6">
        <input class="form-control" type="password" autocomplete="on" placeholder="Confirm Password" />
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
        Register
      </button>
    </div>
  </form>
</div> -->

<!-- Modal -->
<form>
  <div
    class="modal fade"
    id="ModalStudent"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">...</div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>
