<div class="mt-2">
  <form>
    <div class="mb-3">
      <input class="form-control" type="text" autocomplete="on" placeholder="Name" />
    </div>
    <div class="mb-3">
      <input class="form-control" type="text" autocomplete="on" placeholder="Username" />
    </div>
    <div class="mb-3">
      <input class="form-control" type="email" autocomplete="on" placeholder="Email address" />
    </div>
    <div class="row gx-2">
      <div class="mb-3 col-sm-6">
        <input class="form-control" type="password" autocomplete="on" placeholder="Password" />
      </div>
      <div class="mb-3 col-sm-6">
        <input class="form-control" type="password" autocomplete="on" placeholder="Confirm Password" />
      </div>
    </div>
    <div class="mb-3">
      <button class="btn btn-primary d-block w-100 mt-3" type="submit" name="submit">
        Register
      </button>
    </div>
  </form>
</div>
