<div class="row flex-center min-vh-100 py-6">
  <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
    <a class="d-flex flex-center mb-4"
      ><img
        class="me-2"
        src="../../../../assets/img/logo.png"
        alt=""
        width="250px"
      /></a
    >
    <div class="card">
      <div class="card-body p-4 p-sm-5">
        <div class="row flex-between-center mb-2">
          <div class="col-auto">
            <h5>Register</h5>
          </div>
          <div class="col-auto fs--1 text-600">
            <span class="mb-0 undefined">Have an account?</span>
            <span><a routerLink="/auth/login"> Login</a></span>
          </div>
        </div>
        <form>
          <div class="d-grid gap-2">
            <button type="button" class="btn btn-secondary" >Student</button>

            <button type="button" class="btn btn-secondary" >Pyme</button>
          </div>

          <app-student-register ></app-student-register>
          <app-pyme-register  ></app-pyme-register>
        </form>

        <!-- <div class="position-relative mt-4">
          <hr />
          <div class="divider-content-center">or register with</div>
        </div>
        <div class="row g-2 mt-2">
          <div class="col-sm-6"><a class="btn btn-outline-google-plus btn-sm d-block w-100" href="#"><span class="fab fa-google-plus-g me-2" data-fa-transform="grow-8"></span> google</a></div>
          <div class="col-sm-6"><a class="btn btn-outline-facebook btn-sm d-block w-100" href="#"><span class="fab fa-facebook-square me-2" data-fa-transform="grow-8"></span> facebook</a></div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <app-student-register *ngIf="student === true"></app-student-register> -->
<!-- <app-pyme-register *ngIf="pyme"></app-pyme-register> -->
