<div >
  <br>
  <br>
  <br>
    <h3 style="color: white;">USERS</h3>
  <div class="container-md bg-black rounded rounded-4">

    <div class="d-flex flex-wrap justify-content-lg-start align-items-lg-start pb-0">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createuser">
        Create Student
      </button>
    </div>

    <div class="d-flex flex-wrap justify-content-end align-items-end pb-0 pt-3">
      <div class="contenido">
        <form [formGroup]="myForm" (keyup)="buscarRegistro()" class="mt-2 mb-2">
          <input class="form-control rounded-pill" formControlName="search" type="text" placeholder="Search" aria-label="Search"/>
        </form>
    </div>

    </div>

    <div class="container-fluid table-responsive">
      <table class="table table-dark table-striped table-hover">
        <!-- <thead>
            <tr>
              <th colspan="8"><form >
                <input
                      class="form-control rounded-pill"
                      type="text"
                      placeholder="Search"
                      aria-label="Search"
                    />
              </form></th>
            </tr>
          </thead> -->
        <thead>
          <tr>
            <th>Usuario</th>
            <th>Nombre Usuario</th>
            <th>Estado</th>
            <th>Rol</th>
            <th>Última Conexión</th>
            <th>Correo Electronico</th>
            <th>Imagen</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let user of users">
            <td class="text-break" data-title="Usuario">{{user.USUARIO}}</td>
            <td class="text-break" data-title="Nombre Usuario">{{user.NOMBRE_USUARIO}}</td>
            <td class="text-break" data-title="Estado">{{user.ESTADO}}</td>
            <td class="text-break" data-title="Rol">{{user.ROL}}</td>
            <td class="text-break" data-title="Última Conexión">{{user.ULTIMA_CONEXION}}</td>
            <td class="text-break" data-title="Correo Electronico">{{user.CORREO_ELECTRONICO}}</td>
            <td class="text-break" data-title="Imagen"><img
              [src]="user.IMAGEN"
              height="50"
              width="50"
              class="rounded-circle mr-2 mx-1"
            /></td>
            <td class="text-break" data-title="Acción">
              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
                (click)="selection(user.ID_USUARIO, user.USUARIO, user.NOMBRE_USUARIO, user.ESTADO, user.ID_ROL, user.ROL, user.CORREO_ELECTRONICO)">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="custom-menu">
                <ng-container>
                  <button mat-menu-item (click)="getUser(user.ID_USUARIO)">
                    <mat-icon id="custom-mat-icon">text_snippet</mat-icon>
                    <span class="custom-text">See more</span>
                  </button>
                </ng-container>
                <ng-container>
                  <button mat-menu-item data-bs-toggle="modal" data-bs-target="#editUserModal">
                    <mat-icon id="custom-mat-icon">edit</mat-icon>
                    <span class="custom-text">Edit</span>
                  </button>
                </ng-container>
                <ng-container>
                  <button mat-menu-item data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <mat-icon id="custom-mat-icon">block</mat-icon>
                    <span class="custom-text">Block</span>
                  </button>
                </ng-container>
                <!-- <ng-container>
                        <button mat-menu-item (click)="openDialog(user)" (Desactivar)="getUsers()">
                          <mat-icon id="custom-mat-icon">block</mat-icon>
                          <span class="custom-text">Block</span>
                        </button>
                      </ng-container> -->
                <ng-container>
                  <button mat-menu-item (click)="putActivateUser()">
                    <mat-icon id="custom-mat-icon">lock_open</mat-icon>
                    <span class="custom-text">To unlock</span>
                  </button>
                </ng-container>
              </mat-menu>
            </td>
          </tr>
        </tbody>

      </table>
    </div>
    <mat-paginator id="pagindor"
              [length]="size"
              [pageSize]="lim"
              [pageSizeOptions]="[1, 10, 25, size]"
              (page)="onPageChange($event)"
              aria-label="Select page">
</mat-paginator>
  </div>

  <app-delete-user (Desactivar)="recargar()" (onUpdate)="recargar()"  [id_user]="ID_USUARIO" [user]="USUARIO"></app-delete-user>
  <app-create-user (Crear)="recargar()" (onCreate)="recargar()"></app-create-user>
  <app-edit-user [id_user]="ID_USUARIO" [user]="USUARIO" [username]="NOMBRE_USUARIO" [status]="ESTADO" [id_role]="ID_ROL" [email]="CORREO_ELECTRONICO"></app-edit-user>

</div>


