/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; background-color: rgb(29, 21, 85); margin: 0; font-family: Roboto;}
#fondo {
  background-color: rgb(29, 21, 85);
  height: 100%;
}
